body{
    position: relative;
    background-image: url('https://ik.imagekit.io/zhpwq1uen/Final_Project/Memories.jpeg?updatedAt=1687871584505');
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
}



